body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

header{
    background-color:dodgerblue;
    color: white;
}

header > h1{
    padding: 30px 0 0 30px;
}

header > nav > ul{
    list-style-type: none; 
    padding: 0;
}
header > nav > ul > li {
    padding: 3px;
    margin: 0 0 0 30px;
}

header > nav > ul > li > a{
    text-decoration:none;
    color:white;
    display: block;
    padding: 0;
    margin: 0px;
    width: 90px;
}

header > nav > ul > li > a:hover{
    background-color:;
    color:white;
 
}
.gallery > ul > li > p > img{
    width:40%;
    float: left;
    margin-right: 10px;
}

.gallery > ul  {
    margin: 0;
    padding: 0;
}


body > main{
    width: 70%;
    margin: auto;
}

.gallery > ul{
    list-style-type: none;
    margin: 0;
}

.gallery > ul > li{
    display: table-row;
    margin: 0;
}

.gallery > ul > li> img{
    float:left;
    vertical-align: middle;
}

textarea{
    resize:vertical;
    overflow: auto ;
    width: 100%;
}

#posted_comments > ul > li{
    list-style: none;
}

#posted_comments > ul > li > hgroup > img{
    width: 60px;
    height: auto;
}

#footer-container{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 5px;
}

