body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

header{
    background-color:dodgerblue;
    color: white;
}
header > nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}
.gallery > ul > li > p > img{
    width:40%;

    float: left;
}

body > header > nav > ul > li > a{
    text-decoration:none;
    color:white;
    display: block;
    padding: 10px;
    margin:10px;
}
body > main{
    width: 70%;
    margin: auto;
}

.gallery > ul{
    list-style-type: none;
}

.gallery > ul > li{
    display: table-row;
}

.gallery > ul > li> img{
    float:left;
    vertical-align: middle;
}

textarea{
    resize:vertical;
    overflow: auto ;
    width: 100%;
}

#footer-container{
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 5px;
}

